<!-- Dummy


    ["us", "USA", "6,214,690", "https://www.worldometers.info/img/flags/small/tn_us-flag.gif"], 
    ["brazil", "Brazil", "3,910,901", "https://www.worldometers.info/img/flags/small/tn_br-flag.gif"]

-->

<style>
.bg-image {

  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);

  /* Full height */
  height: 150%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
 .ss {
    height: 120px; 
    width: 50%;
 }
</style>


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>game</title>

    <script>
        function lose(){
            Swal.fire({
                        icon: 'info',
                        title: 'Game Over',
                        html: 'Score = {{ score }}',
                        onAfterClose: () => window.location.assign("../")
                    })
        }

        function game(x){

            u1 = {{u1_count_int}}
            u2 = {{u2_count_int}}
    
            if (x == 1)
            {
                if (u2 > u1)
                {
                    Swal.fire({
                        icon: 'success',
                        title: 'Tebrikler',
                        html: '{{u1_name}} - <b>{{u1_count}}</b>  case <br> {{u2_name}} - <b>{{u2_count}}</b>  case',
                        onAfterClose: () => window.location.assign("?score={{score}}")
                    })
                    
                }
                else
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Malesef',
                        html: '{{u1_name}} - <b>{{u1_count}}</b>  case <br> {{u2_name}} - <b>{{u2_count}}</b>  case',
                        onAfterClose: () => lose()
                    })
                }
            }

            if (x == 0)
            {
                if (u2 < u1)
                {
                    Swal.fire({
                        icon: 'success',
                        title: 'Tebrikler',
                        html: '{{u1_name}} - <b>{{u1_count}}</b> case <br> {{u2_name}} - <b>{{u2_count}}</b>  case',
                        onAfterClose: () => window.location.assign("?score={{score}}")
                    })
                }
                else
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Malesef',
                        html: '{{u1_name}} - <b>{{u1_count}}</b>  case <br> {{u2_name}} - <b>{{u2_count}}</b>  case',
                        onAfterClose: () => lose()
                    })
                }
            }
    
        }
    </script>

  </head>
  <body style="background-color: black;">
    <center>
        <div class="col-md-12 mt-2" style="padding-right: 5%0;">
            <img src="https://dummyimage.com/700x120/525252/787878" alt="">
        </div>
    </center>
    {% load static %}
    <div class="row">
        <div class="col-md-6 mt-4" style="height: 400px;">
            <div class="bg-image" style="background-image: url( {% get_static_prefix %}{{ u1_img }}.gif );"></div>
            <div class="bg-text">
                <center>
                <div class="card text-center" style="background-color: rgb(0, 0, 0, 0.4); border: 0px; width: 70%;">
                    <center><img src=" {% get_static_prefix %}{{ u1_img }}.gif " class="mt-4 ss" style="border: 3px solid black;" alt=""></center>
                    <h2 class="mt-2 text-light">{{ u1_name }} has</h2>
                    <h1 class="text-light" >{{ u1_count }} cases</h1>
                </div>
                </center>
            </div>
        </div>
        <div class="col-md-6 mt-4" style="height: 400px;">
            <div class="bg-image" style="background-image: url( {% get_static_prefix %}{{ u2_img }}.gif );"></div>
            <div class="bg-text">
                <center>
                <div class="card text-center" style="background-color: rgb(0, 0, 0, 0.4); border: 0px; width: 70%;">
                    <center><img src=" {% get_static_prefix %}{{ u2_img }}.gif " class="mt-4 ss" style="border: 3px solid black;" alt=""></center>
                    <h2 class="mt-2 text-light">{{ u2_name }} has</h2>
                    <div>
                        <a onclick='game(1)' class="btn btn-success mt-2">Higher</a> <br>
                        <a onclick='game(0)' class="btn btn-danger mt-1">Lower</a>
                    </div>
                    <h4 class="text-light">cases then {{ u1_name }}</h4>
                </div>
                </center>
            </div>
        </div>
        <div class="fixed-bottom">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <h1 class="text-center mt-4 text-light border"> Skor = {{ score }}</h1>
            </div>
        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>